@using FanusYazilim.Entities
@model IEnumerable<Advertisement>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from materializecss.com/fullscreen-slider-demo.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Oct 2018 20:54:26 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a modern responsive CSS framework based on Material Design by Google. ">
    <title>Fullscreen Slider - Materialize</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/Assest/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="~/Assest/favicon/mstile-144x144.png">
    <link rel="icon" href="~/Assest/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link href="~/Assest/Css/prism.css" rel="stylesheet" />
    <link href="~/Assest/Css/ghpages-materialize.css" rel="stylesheet" media="screen,projection" />

    <!-- if !isDemo-->
    <!--   script.-->
    <!--     window.liveSettings = {-->
    <!--       api_key: "a0b49b34b93844c38eaee15690d86413",-->
    <!--       picker: "bottom-right",-->
    <!--       detectlang: true,-->
    <!--       dynamic: true,-->
    <!--       autocollect: true-->
    <!--     };-->
    <!--   script(src='//cdn.transifex.com/live.js')-->
</head>
<body>
    <div class="slider fullscreen" id="mesaj">
        <ul class="slides">
            @foreach (var item in Model)
            {

                <li>
                    <img src="@item.ImagePath"> <!-- random image -->
                    <div class="caption center-align">
                        <h3>@item.Owner</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            }

        </ul>
    </div>
    <input value="1000" id="degisken"/>
    <script src="~/Assest/Scprits/jquery-3.2.1.min.js"></script>
    <!--  Scripts-->
    
    <script>

        $(document).ready(function () {
            $("#mesaj").click(function () {
                window.location.assign("/Home/Home");
            });
        });
  
        setTimeout(function () {
            window.location.assign("/Home/Home");
            //3 saniye sonra yönlenecek
        }, 30000);
        if (!window.jQuery) { document.write('<script src="~/Assest/Css/jquery-3.2.1.min.html"><\/script>'); }
    </script>
    <script src="~/Assest/Scprits/materialize.js"></script>
    <script src="~/Assest/Scprits/jquery.timeago.min.js"></script>
    <script src="~/Assest/Scprits/prism.js"></script>
    <script src="~/Assest/Scprits/lunr.min.js"></script>
    <script src="~/Assest/Scprits/search.js"></script>
    <script src="~/Assest/Scprits/init.js"></script>
    <!-- Twitter Button -->
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
    <!-- Google Plus Button-->
    <script src="~/Assest/Scprits/platform.js" async defer></script>

    <!--  Google Analytics  -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56218128-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</body>
<!-- Mirrored from materializecss.com/fullscreen-slider-demo.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 09 Oct 2018 20:54:32 GMT -->
</html>