@using FanusYazilim.Entities
@model IEnumerable<Content> 


@{
    Layout = null;
}

<!doctype html>

<html>
<head>
    <title>Timeline</title>
    <script language="javascript" type="text/javascript">
        function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
    </script>
    <link href="~/Assest/Css/styleContext.css" rel="stylesheet" />
    <link href="~/Assest/Css/ContentButon.css" rel="stylesheet" />
</head>
<body>

    <a href="@Url.Action("Home","Home")" class="buton">&laquo; Kategoriler</a>
   
    <div class="timeline">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <div class="content">
                        <h3>
                            What is Lorem İpsum
                        </h3>
                        <p id="@item.ContentID">
                            @item.Description
                        </p>
                    </div>
                    <div class="printt">
                        <a href="/Home/Advertisement/@item.ContentID" >
                            <svg style="color:"><rect></rect></svg>YAZDIR <br />@item.PrintLength kez yazdırıldı.
                        </a>
                    </div>
                </li>
            }


            <div style="clear: both;"></div>
        </ul>
    </div>
</body>

</html>
