@using FanusYazilim.Entities;
@model IEnumerable<Category>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Bursa Yıldırım Belediyesi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
   
    <link href="~/Assest/Css/swiper.min.css" rel="stylesheet" />
    <link href="~/Assest/Css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="swiper-container">

        <div class="swiper-wrapper">

            @foreach (var item in Model)
            {
                  <div class="swiper-slide">
                      <div class="imgBx">
                          <img src="~/Assest/Image/1.jpg" />
                      </div>
                      <div class="details">
                          <h2>@item.Name.ToUpper()</h2>
                      </div>
                  </div>

            }
        
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <script src="~/Assest/Scprits/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
</body>
</html>